body {
  margin: 0px;
}
header {
  border: gray solid 1px;
}

header div {
  display: inline-block;
}

.titulo {
  display: inline-block;
}

#logo img {
  margin-left: 40px ;
}

#logo{
  width: 100%;
  display: inline-block;
  padding: 0px 10px;
  height: 50px;
}
a {
  display: block;
}

.iniciar{
  margin-right: 40px;
  text-align: left;
  float: right;
}

.container {
  margin: 50px 100px;
}

#botones button {
  display: inline;
}
#facebook {
  background-color: #4368b2;
}
#google {
  background-color: #4185f4;
}

#facebook, #google {
  border: none;
  border-radius: 10px;
  height: 35px;
  margin: 0px 10px;
  display: block;
  padding: 2px;
  width: 190px;
  color: white;
}

#facebook img , #google img{
  height: 20px;
}