body {
  margin: 0px;
}

header {
  padding-top: 10px;
  padding-left: 40px;
  border: 1px solid rgba(116, 102, 102, 0.3);
}

header div {
  display: inline-block;
}

.titulo {
  display: inline-block;
}

#logo img {
  margin-left: 40px ;
}

#logo{
  width: 100%;
  display: inline-block;
  padding: 0px 10px;
  height: 50px;
}
a {
  display: block;
}

.iniciar{
  margin-right: 40px;
  text-align: left;
  float: right;
}

#sign-in {
  display: block;
}

.container {
  margin: 50px 90px;
}

#botones button {
  display: inline;
}


.facebook {
  background-color: #4368b2;
}

.google {
  background-color: #4185f4;
}

.facebook, .google {
  border: none;
  border-radius: 5px;
  height: 30px;
  display: block;
  padding: 1px;
  width: 160px;
  color: white;
}


.facebook img , .google img{
  height: 20px;
}


form #Email, #Pass {
  margin-top: 10px;
  border-radius: 4px;
  display: block;
}

#Email, #Pass {
  
  width: 400px;
  margin-bottom: 30px;
  height: 25px;
}

#Email, #Pass {
  
  opacity: 0.5;
}

a {
  display: inline;
}

.create-acount{
  border-radius: 20px;
  width: 180px;
  height: 45px;
  margin-top: 30px;
  margin-left: 10px;
  opacity: 0.5;
  display: block;
  border: grey 2px dashed;
}

.pie {
  border: 1px solid rgba(116, 102, 102, 0.3);
}

.juntos .pie-issu {
  display: inline;
}

.pie-issu{
  color:rgba(116, 102, 102, 0.9);
  float: left;
  margin: 20px 100px 20px 50px;
}

.juntos{
  display: inline-block;
  color:rgba(116, 102, 102, 0.9);
  margin: 20px 30px;
}